{namespace n=GeorgRinger\News\ViewHelpers}
{namespace dc=CP\DinnerClub\ViewHelpers}
<n:excludeDisplayedNews newsItem="{newsItem}"/>

  <f:if condition="{iterator.isFirst}">
    <f:then>
	<div class="jumbotron text-center">
	  <p>N&auml;chster Dinner Club:<br>
	  <f:translate key="day.{newsItem.datetime -> f:format.date(format: 'w')}" /> {newsItem.datetime -> f:format.date(format: 'j.')} <f:translate key="month.{newsItem.datetime -> f:format.date(format: 'm')}" />:</p>
	  <h2>{newsItem.title}</h2>
	  <p class="lead">{newsItem.teaser}</p>
	  <p>
	  <n:link settings="{settings}" class="btn btn-lg btn-success" newsItem="{newsItem}" additionalAttributes="{role: 'button'}">
	  Anmelden<br><span class="small">bisher: {dc:countRegistrations(newsItem: newsItem)}</span>
	  </n:link>
	  <f:security.ifAuthenticated>
	    <n:link configuration="{parameter: settings.dinnerClubRegistrationOverviewPid}" settings="{settings}" class="btn btn-default" newsItem="{newsItem}" additionalAttributes="{role: 'button'}">
	    Anmeldungen
	    </n:link>
	  </f:security.ifAuthenticated>
	  </p>
	</div>
    </f:then>
    <f:else>
	<div class="jumbotron">
	  <p><f:translate key="day.{newsItem.datetime -> f:format.date(format: 'w')}" /> {newsItem.datetime -> f:format.date(format: 'j.')} <f:translate key="month.{newsItem.datetime -> f:format.date(format: 'm')}" />: {newsItem.title}</p>
	  <p class="lead">{newsItem.teaser}</p>
	  <p class="pull-right">
	  <n:link settings="{settings}" class="btn-sm btn-success" newsItem="{newsItem}" additionalAttributes="{role: 'button'}">Anmelden</n:link>
	  <f:security.ifAuthenticated>
	    <n:link configuration="{parameter: 9}" settings="{settings}" class="btn-sm btn-default" newsItem="{newsItem}" additionalAttributes="{role: 'button'}">
	    Anmeldungen
	    </n:link>
	  </f:security.ifAuthenticated>
	  </p>
	  <span class="clearfix"></span>
	</div>
    </f:else>
  </f:if>

