	  <f:form arguments="{event: event, count: count, name: name}" action="register" class="form-horizontal">
	    <h3>Bestätigung der Tischreservierung</h3>
	    <p><f:translate key="day.{event.datetime -> f:format.date(format: 'w')}" /> {event.datetime -> f:format.date(format: 'j.')} <f:translate key="month.{event.datetime -> f:format.date(format: 'm')}" />:</p>
	    <div class="form-group">
	      <label for="n-persons" class="col-sm-4">Wie viele?</label>
	      <div class="col-sm-8">
		{count}
	      </div>
	    </div>
	    <div class="form-group">
	      <label for="name" class="col-sm-4">Wer?</label>
	      <div class="col-sm-8">
		{name}
	      </div>
	    </div>
	    <div class="form-group">
	      <div class="col-sm-offset-4 col-sm-8">
		<f:form.submit class="btn btn-primary" additionalAttributes="{role: 'button'}" value="Anmelden" />
	      </div>
	    </div>
	    <p class="text-small">Das Dinner Club-Team freut sich auf dich!</p>
	  </f:form>

