	  <f:form objectName="registration" action="register" class="form-horizontal">
	    <f:form.hidden property="event" value="{registration.event}" />
	    <f:form.hidden property="name" value="{registration.name}" />
	    <f:form.hidden property="count" value="{registration.count}" />
	    <f:form.hidden property="vegetarian" value="{registration.vegetarian}" />
	    <h3 class="csc-firstHeader">Bestätigung der Tischreservierung</h3>
	    <p><f:translate key="LLL:EXT:news/Resources/Private/Language/locallang.xlf:day.{event.datetime -> f:format.date(format: 'w')}" /> {event.datetime -> f:format.date(format: 'j.')} <f:translate key="LLL:EXT:news/Resources/Private/Language/locallang.xlf:month.{event.datetime -> f:format.date(format: 'm')}" />: {event.title}</p>
	    <div class="form-group">
	      <label for="n-persons" class="col-sm-4">Wie viele?</label>
	      <div class="col-sm-8">
		{registration.count}
		<f:if condition="{registration.vegetarian}">({registration.vegetarian} Vegetarisch)</f:if>
	      </div>
	    </div>
	    <div class="form-group">
	      <label for="name" class="col-sm-4">Wer?</label>
	      <div class="col-sm-8">
		{registration.name}
	      </div>
	    </div>
	    <div class="form-group">
	      <div class="col-sm-offset-4 col-sm-8">
		<f:form.submit class="btn btn-primary" additionalAttributes="{role: 'button'}" value="Tisch verbindlich reservieren" />
	      </div>
	    </div>
	    <p class="text-small">Achtung: die Anmeldung ist verbindlich, es werden Tische reserviert. Falls Sie nicht kommen k&ouml;nnen, bitten wir Sie, sich wieder abzumelden.</p>
	    <p class="text-small">Das Dinner Club-Team freut sich auf dich!</p>
	  </f:form>

