{namespace n=GeorgRinger\News\ViewHelpers}
{namespace dc=CP\Dinnerclub\ViewHelpers}

	    <p><f:translate key="LLL:EXT:news/Resources/Private/Language/locallang.xlf:day.{newsItem.datetime -> f:format.date(format: 'w')}" /> {newsItem.datetime -> f:format.date(format: 'j.')} <f:translate key="LLL:EXT:news/Resources/Private/Language/locallang.xlf:month.{newsItem.datetime -> f:format.date(format: 'm')}" />:</p>
	    <h3>{newsItem.title}</h3>

	    <p class="lead">{newsItem.teaser -> f:format.nl2br()}</p>

<f:if condition="{triedRegistration}">
	    <p>Es tut uns leid, die Anmeldung für den Abend ist bereits abgeschlossen.
	    Aber schau doch einfach trotzdem vorbei. Meistens gibt es auch ohne Anmeldung noch etwas zu essen!</p>
</f:if>

<f:if condition="{showRegistrations}">
<f:then>
<f:security.ifAuthenticated>
<f:alias map="{registrations: '{newsItem -> dc:getRegistrations()}'}">
	<p>{registrations -> f:count()} Tischanmeldungen: f&uuml;r {newsItem -> dc:countRegistrations()} Personen</p>
	<dl>
	<f:for each="{registrations}" as="registration">
		<dt>
		<f:if condition="{registration.originalCount}">
			<f:if condition="{registration.count}">
			<f:then>UMMELDUNG ({registration.count} statt {registration.originalCount}):</f:then>
			<f:else>ABMELDUNG (urspr&uuml;nglich {registration.originalCount}):</f:else>
			</f:if>
			<br />
		</f:if>
		{registration.name}:
		</dt>
		<dd>
			{registration.count} Personen
		</dd>
	</f:for>
	</dl>
	<a class="btn btn-default" href="#" onclick="window.print();">Drucken</a>
</f:alias>
</f:security.ifAuthenticated>
</f:then>
<f:else>
	    <p>{newsItem.bodytext -> f:format.html()}</p>
</f:else>
</f:if>

<f:link.page class="btn btn-default" pageUid="{settings.backPid}">
	<f:translate key="back-link" />
</f:link.page>
