{namespace dc=CP\Dinnerclub\ViewHelpers}
<f:layout name="Detail.html" />

<f:section name="content">
<div class="jumbotron">
<f:switch expression="{settings.templateLayout}">
<f:case value="55"><f:comment>Registration</f:comment>
      <f:render partial="Registration/RegistrationForm" arguments="{newsItem: newsItem}" />
      <f:render partial="EventDetail" arguments="{newsItem: newsItem, triedRegistration: 1, showRegistrations: 1}" />
</f:case>
<f:case value="56"><f:comment>Detailansicht ohne Registration</f:comment>
  <f:render partial="EventDetail" arguments="{newsItem: newsItem}" />
</f:case>
<f:case value="57"><f:comment>Detail mit Anmeldungen</f:comment>
  <f:render partial="EventDetail" arguments="{newsItem: newsItem, showRegistrations: 1}" />
</f:case>
<f:case value="58"><f:comment>Ab-/Ummeldung</f:comment>
  <f:if condition="{newsItem -> dc:registrationAllowed()}">
    <f:then>
      <f:render partial="Registration/ModificationForm" arguments="{newsItem: newsItem}" />
    </f:then>
    <f:else>
      <f:render partial="EventDetail" arguments="{newsItem: newsItem, triedRegistration: 1}" />
    </f:else>
  </f:if>
</f:case>
<f:case value=""><f:comment>Detail mit Anmeldungen</f:comment>
  No news template chosen
</f:case>
</f:switch>
</div>
</f:section>
